* {
  box-sizing: border-box;
  color: black;
  margin: 30px;
  padding: 10px;
}
.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Assets/Images/Velmor\ Seafood\ Paella.jpg);
  background-size: cover;
  background-position: center;
}
